@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Poppins&family=Raleway:ital,wght@0,500;0,600;0,900;1,500;1,600;1,900&family=Roboto&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(253, 121, 168,0.4) 70%, white 30%);
}

.topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.s-icon i:first-child{
    background-color: #e84393;
    color: white;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
}

.s-icon i{
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    margin: 0px 6px;
}

.s-icon i:hover{
    background-color: #e84393;
    color: white;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.logo{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    background-color: rgb(118, 118, 248);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu a:first-child{
    background-color: #e84393;
    color: white;
}

.menu a:hover{
    background-color: #e84393;
    color: white;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.menu{
    margin-top: 7px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 70px;
}

.left{
    flex-basis: 50%;
}

.right{
    flex-basis: 50%;
    text-align: right;
}

.left h1{
    font-size: 4rem;
}

span{
    background-color: #e84393;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.left p{
    margin: 30px 0px;
    line-height: 2rem;
}

#btn1{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #e84393;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}

#contact-btn{
    padding: 10px 20px;
    border: 1px solid #e84393;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: black;
    margin-left: 10px;
}

#contact-btn:hover{
    background-color: lightgreen;
    color: black;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

a{
    text-decoration: none;
}

.email a:hover{
    color: blue;
    text-decoration: none;
}